{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 78,
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "proseWrap": "always"
}
